@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500;700&display=swap");
$font-ibm: "IBM Plex Sans", sans-serif;

$white: #e1f3ff;
$black: #15212b;
$gray: #232c33;
$blue: #008fff;
$red: #ff3627;

$border-outline: #2e3842;
$border-outline-hover: #314047;
