@import "_variables";
.text {
    font-family: "IBM Plex Sans", sans-serif;
    text-decoration: none;
    color: $black;

    &--white {
        color: $white;
    }

    &--bold {
        font-weight: 900;
    }

    &--large {
        font-size: larger;
    }
}
